<h1> list</h1>
<% if @list.empty? == false%>
    <ul>
        <% @list.each do |item| %>
        <li><%="#{item}"%></li>
        <% end %>
    </ul>
<%end%>

<form action = "/list" method="post">

<label for = "item_name" id= "item_name">Name</label>

<input type="text" id="item_name" name = "item_name"></input>


<input type= "submit" id="button" value="Add">

</form>
