<h1>The High-Tech Recipe Evaluation Machine</h1>

<p>
  Instructions: Enter a recipe name here, and click "Submit" to see
  if the recipe will be delicious or not!
</p>

<form action="/" method="post">
  <label for="recipe_name">Recipe Name</label>
  <input type="text" name="recipe_name" id="recipe_name">

  <input type="submit" value="Submit">
</form>
