<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>
      The question is <%= @question_name %>
    </h1>

    <a href="/questions">All questions</a>
  </body>
</html>
