<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>
      The item is <%= @item_name %>
    </h1>

    <a href="/items">All items</a>
  </body>
</html>
