.letter-body {
  border: 3px solid black;
  background-color: #E0D2AB;
  width: 80%;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
}

img {
  width:100px;
  margin:auto;
  display: block;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 2.4em;
  font-weight: bold;
}

#headmaster-name, #merlin-order {
  text-align: center;
}

p {
  font-size: 18pt;
}

h3 {
  font-weight: bold;
  font-size: 18pt;
}
