<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
        <link rel= "stylesheet" href="app.css"
    </head>

    <body>
        <h1>Team Information</h1>

        <ul>
            <% @name.each do |name| %>
            <li>
                <a href="/name/<%= name %>"><%= name %></a>
            </li>
            <% end %>
        </ul>


    </body>
</html>
