<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>kickball_site</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>

  <script src="/javascripts/app.js"></script>

  <a href="/names">All names</a>
</body>
</html>
