<body>

    <h1>infobel<h1>

            <form action = "/new" method= "post">
                <label for = "article_name" id= "testme">titl:</label>
                <input type = "text" id="article_name" name="article_name"


                <label for = "article_description" id = "leslie">descrip:</label>


                <input type = "text" id="article_description" name="article_description"
                <label for = "article_submit">sub</label>
                <input type = "submit" id="article_submit" name="article_submit">

            </form>

<h2><% if @error %> error!</h2>
            <% end %>
        </body>
